<div id="<%= dom_id shot %>">
  <p>
    <strong>Title:</strong>
    <%= shot.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= shot.description %>
  </p>

  <p>
    <strong>User:</strong>
    <%= shot.user_id %>
  </p>

</div>
